/*
SPDX-FileCopyrightText: 2020 Tocqueville Group

SPDX-License-Identifier: LicenseRef-MIT-TQ

Style sheet for the codehilite extension and its custom "source" header.
*/

.codehilite-source { background-color: #f8f8f8; margin-bottom: 0px; padding: .5em; border-style: dashed; border-width: thin; }
.codehilite-source + p { display: none; }
.codehilite-source + .codehilite>pre { margin-top: 0px; }
.codehilite-source + p + .codehilite>pre { margin-top: 0px; }

.codehilite  { background: #ffffff; }
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #888888; font-style: italic } /* Comment */
.codehilite .ch { color: #888888; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.codehilite .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #888888; font-style: italic } /* Comment.Single */
.codehilite .go { color: #888888; font-style: italic } /* Generic.Output */
.codehilite .cp { color: #888888; font-style: italic } /* Comment.Preproc */
.codehilite .cs { color: #888888; font-style: italic } /* Comment.Special */
.codehilite .k { color: #008800; font-weight: bold } /* Keyword */
.codehilite .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008800; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #bb0066; font-weight: bold } /* Keyword.Type */
.codehilite .mi + .n { color: #E74C3C; font-weight: bold } /* */
.codehilite .m { color: #E74C3C; font-weight: bold } /* Literal.Number */
.codehilite .s { color: #E74C3C; font-weight: bold } /* Literal.String */
.codehilite .mb { color: #E74C3C; font-weight: bold } /* Literal.Number.Bin */
.codehilite .mf { color: #E74C3C; font-weight: bold } /* Literal.Number.Float */
.codehilite .mh { color: #E74C3C; font-weight: bold } /* Literal.Number.Hex */
.codehilite .mi { color: #E74C3C; font-weight: bold } /* Literal.Number.Integer */
.codehilite .mo { color: #E74C3C; font-weight: bold } /* Literal.Number.Oct */
.codehilite .sa { color: #E74C3C; font-weight: bold } /* Literal.String.Affix */
.codehilite .sb { color: #E74C3C; font-weight: bold } /* Literal.String.Backtick */
.codehilite .sc { color: #E74C3C; font-weight: bold } /* Literal.String.Char */
.codehilite .dl { color: #E74C3C; font-weight: bold } /* Literal.String.Delimiter */
.codehilite .sd { color: #E74C3C; font-weight: bold } /* Literal.String.Doc */
.codehilite .s2 { color: #E74C3C; font-weight: bold } /* Literal.String.Double */
.codehilite .se { color: #E74C3C; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #E74C3C; font-weight: bold } /* Literal.String.Heredoc */
.codehilite .si { color: #E74C3C; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #E74C3C; font-weight: bold } /* Literal.String.Other */
.codehilite .sr { color: #E74C3C; font-weight: bold } /* Literal.String.Regex */
.codehilite .s1 { color: #E74C3C; font-weight: bold } /* Literal.String.Single */
.codehilite .ss { color: #E74C3C; font-weight: bold } /* Literal.String.Symbol */
.codehilite .il { color: #E74C3C; font-weight: bold } /* Literal.Number.Integer.Long */
.codehilite .err { color: #a61717 } /* Error */

.codehilite .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #aa0000 } /* Generic.Error */
.codehilite .gh { color: #333333 } /* Generic.Heading */
.codehilite .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.codehilite .gp { color: #555555 } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #666666 } /* Generic.Subheading */
.codehilite .gt { color: #aa0000 } /* Generic.Traceback */
.codehilite .na { color: #336699 } /* Name.Attribute */
.codehilite .nb { color: #003388 } /* Name.Builtin */
.codehilite .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.codehilite .no { color: #003366; font-weight: bold } /* Name.Constant */
.codehilite .nd { color: #555555 } /* Name.Decorator */
.codehilite .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.codehilite .nl { color: #336699; font-style: italic } /* Name.Label */
.codehilite .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.codehilite .py { color: #336699; font-weight: bold } /* Name.Property */
.codehilite .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #336699 } /* Name.Variable */
.codehilite .o { color: #999999; font-weight: bold } /* Operator.Word */
.codehilite .ow { color: #999999; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .bp { color: #003388 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0066bb; font-weight: bold } /* Name.Function.Magic */
.codehilite .vc { color: #336699 } /* Name.Variable.Class */
.codehilite .vg { color: #dd7700 } /* Name.Variable.Global */
.codehilite .vi { color: #3333bb } /* Name.Variable.Instance */
.codehilite .vm { color: #336699 } /* Name.Variable.Magic */
