/*
SPDX-FileCopyrightText: 2020 Tocqueville Group

SPDX-License-Identifier: LicenseRef-MIT-TQ
*/

.rst-content table thead th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.rst-content td {
  vertical-align: middle;
  text-align: justify;
}

.rst-content table {
  width: 100%;
  margin-bottom: 1rem;
}

.rst-content td code {
  white-space: nowrap;
  background: unset;
  border: none;
}
