/*
SPDX-FileCopyrightText: 2014 - 2020 Isaac Muse

SPDX-License-Identifier: LicenseRef-MIT-Isaac-Muse
*/

.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.tabbed-set .highlight {
  background: #ddd;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-weight: bold;
  cursor: pointer;
  border-bottom: .1rem solid transparent;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
  color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
    color: #385abd;
    border-color: #385abd;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}
